/* font-family: 'Roboto', sans-serif; */

body {
    background-color: black;
}

.hero {
    background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/537/original/self.jpeg?1678285176") no-repeat center center;
    height: 1000px;
    background-size: cover;
    text-align: center;
} 

.fsize-1 {
    font-size: 90px;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}

.flower-img {
    filter:grayscale(100%);
    width: 300px;
}

.flower-img:hover {
    filter: grayscale(0%);
}

footer {
    height: 100px;
}